.container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* background-image: url('../../../assets/images/artistik-dag-manzarasi-duvar-kagidi-2560x1600_7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 93.3%; */
}

.container .formdiv {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
  width: 100%;
}

.password{
  margin-top: 15px;
}
.email {
  margin-top: 25px;
}
.forgot-password {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  
}
/* .forgot-password > a {
  text-decoration: none;
} */

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.button > .mat-button {
  font-size: 16px;
}

.mat-form-field {
  width: 100%;
  min-width: 250px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
}

.mat-card {
  top: 20%;
}