<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="title">CCG Batiments</span>
        <span class="menu-spacer"></span>
        <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon" fxShow="true" fxHide.gt-sm="true">
            <mat-icon>menu</mat-icon>
        </button>
        <div fxShow="true" fxHide.lt-md="true">
            <a href="#" mat-button>Home</a>
            <a href="#" mat-button>Contact</a>
            <a href="#" mat-button>Products</a>
            <button mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">Options</button>
            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <span (mouseleave)="menuTrigger.closeMenu()">
                    <button mat-menu-item>Orders</button>
                    <button mat-menu-item>Basket</button>
                    <button mat-menu-item>Settings</button>
                    <button mat-menu-item>Profile</button>
                </span>
            </mat-menu>
            <a href="#" mat-button>Logout</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="side-menu" fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>

